---
import './HeroSection.css'
import heroLeftImg from '@/assets/home/hero-left.png'
import heroRightImg from '@/assets/home/hero-right.png'
import { Image } from 'astro:assets'

// Big numbers data
const bigNumbers = [
	{
		number: '200',
		text: {
			first: 'Projects',
			second: 'Delivered',
			bold: 'first'
		}
	},
	{
		number: '150',
		text: {
			first: 'Partnerships',
			second: 'Established',
			bold: 'second'
		}
	},
	{
		number: '98%',
		text: {
			first: 'Active',
			second: 'Collaborators',
			bold: 'first'
		}
	}
]
---

<section class="home-hero-section relative container py-20">
	<h1 class="mx-auto max-w-[450px] text-7xl font-bold">reliable software squad</h1>
	<div class="description">
		Jaya is a fully remote software consulting company, founded in 2012 and partnering with U.S.
		companies since 2016. We specialize in strategic staff augmentation and long-term, high-impact
		projects, combining technical and cultural fit through a deep recruitment process. Behind every
		delivery, we mentor our teams, nurture strong culture, and develop people who are inspired to
		build software that truly matters.
	</div>
	<Image src={heroLeftImg} alt="Hero Image" class="left-image" />
	<Image src={heroRightImg} alt="Hero Image" class="right-image" />
	<div class="big-number-section">
		{
			bigNumbers.map((item) => (
				<div class="big-number">
					<div class="content">
						<div class="number-container">
							<div class="number">{item.number}</div>
						</div>
						<div class="text">
							{item.text.bold === 'first' ? (
								<>
									<strong>{item.text.first}</strong>
									<br />
									{item.text.second}
								</>
							) : (
								<>
									{item.text.first}
									<br />
									<strong>{item.text.second}</strong>
								</>
							)}
						</div>
					</div>
				</div>
			))
		}
	</div>

	<a href="/contact" class="btn-contact"> Let's transform your business? Contact Us </a>
</section>
