---
import { Image } from 'astro:assets'
import linkedinIcon from '@/assets/icons/linkedin.svg'
import githubIcon from '@/assets/icons/github.svg'
import mediumIcon from '@/assets/icons/medium.svg'
import { withBase } from '@/utils/url'
import { socialLinks } from '@/data/social-links'

const currentPath = Astro.url.pathname
const isContactPage = currentPath.includes('/contact')
---

<style>
	@reference '@/styles/global.css';

	.footer-section {
		@apply mt-auto lg:py-20;

		.footer-main {
			@apply flex flex-col lg:flex-row;
			@apply px-8;
		}

		.footer-main-content {
			@apply flex items-center;
			@apply gap-5;
		}

		.lets-talk {
			@apply text-primary text-8xl font-bold;
		}

		.btn-contact {
			@apply relative flex items-center justify-center;
			@apply h-[100px] w-[137px] lg:h-[137px];
			@apply bg-primary-light;
			@apply text-white;
			@apply rounded-bl-[50px];

			&:hover .icon {
				transform: rotate(45deg);
			}

			.icon {
				@apply absolute;
				@apply top-0 right-0;
				@apply h-[48px] w-[52px];
				transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
			}
		}

		.address-container {
			@apply flex lg:ml-auto lg:flex-col lg:justify-center;
			@apply mt-8 lg:mt-0;
			@apply gap-10 lg:gap-0;
		}

		.address-item {
			@apply text-primary text-left lg:text-right;

			&.mb-5 {
				@apply mb-5;
			}
		}

		.footer-links {
			@apply flex;
			@apply px-8 py-10;
			@apply border-t border-b;
		}

		.footer-menu {
			@apply menu menu-vertical lg:menu-horizontal;
			@apply p-0;
		}

		.social {
			@apply flex items-center;
			@apply ml-auto;
			@apply gap-7;
		}
	}
</style>

<footer
	class={`footer-section ${isContactPage ? 'bg-primary text-white' : 'bg-neutral-light pb-10'}`}
>
	<div class="container">
		{
			!isContactPage && (
				<div class="footer-main">
					<div class="footer-main-content">
						<div class="lets-talk">let's talk</div>
						<a href={withBase('contact')} class="btn-contact">
							<svg
								class="icon"
								width="20"
								height="20"
								viewBox="0 0 24 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M7 17L17 7M17 7H7M17 7V17"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
						</a>
					</div>
					<div class="address-container">
						<div class="address-item mb-5">
							<div>Austin, TX - USA</div>
							<div>
								<strong>+1 (512) 555-1212</strong>
							</div>
						</div>
						<div class="address-item">
							<div>São Paulo, SP - Brazil</div>
							<div>
								<strong>+55(11) 333-1212</strong>
							</div>
						</div>
					</div>
				</div>
			)
		}
		<div class={`footer-links ${isContactPage ? 'border-white mt-0' : 'border-primary mt-20'}`}>
			<nav>
				<ul class="footer-menu">
					<li>
						<a href={`${withBase('')}#services`} data-astro-reload>services</a>
					</li>
					<li>
						<a href={socialLinks.medium} target="_blank">blog</a>
					</li>
					<li>
						<a href={socialLinks.linkedin} target="_blank">culture</a>
					</li>
					<li>
						<a href={withBase('contact')}>contact</a>
					</li>
				</ul>
			</nav>
			<div class="social">
				<a href={socialLinks.linkedin}>
					<Image src={linkedinIcon} alt="Linkedin" />
				</a>
				<a href={socialLinks.github}>
					<Image src={githubIcon} alt="Github" />
				</a>
				<a href={socialLinks.medium}>
					<Image src={mediumIcon} alt="Medium" />
				</a>
			</div>
		</div>
	</div>
</footer>
