---
import heroLeftImg from '@/assets/home/hero-left.png'
import heroRightImg from '@/assets/home/hero-right.png'
import { Image } from 'astro:assets'

// Big numbers data
const bigNumbers = [
	{
		number: '200',
		text: {
			first: 'Projects',
			second: 'Delivered',
			bold: 'first'
		}
	},
	{
		number: '150',
		text: {
			first: 'Partnerships',
			second: 'Established',
			bold: 'second'
		}
	},
	{
		number: '98%',
		text: {
			first: 'Active',
			second: 'Collaborators',
			bold: 'first'
		}
	}
]
---

<style>
	@reference "../../../styles/global.css";

	@keyframes slide-right {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
		100% {
			-webkit-transform: translateX(100px);
			transform: translateX(100px);
		}
	}

	@keyframes slide-left {
		0% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
		100% {
			-webkit-transform: translateX(-100px);
			transform: translateX(-100px);
		}
	}

	.hero-section {
		.description {
			@apply bg-body;
			@apply mx-auto my-40;
			@apply max-w-[450px];
			@apply text-center normal-case;
		}

		.left-image {
			@apply absolute;
			@apply top-1/2 left-[-100px];
			@apply h-[260px] w-[275px];
			animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		}

		.right-image {
			@apply absolute;
			@apply top-[30%] right-[-100px];
			@apply h-[260px] w-[275px];
			animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		}

		.big-number-section {
			@apply mx-auto my-[50px];
			@apply flex justify-center gap-[100px];
		}

		.big-number {
		}

		.content {
			@apply bottom-0 flex;
		}

		.number-container {
			@apply relative;
			@apply h-[90px] w-[90px];
			@apply bg-primary text-body text-[36px];
			@apply rounded-tl-[30%] rounded-br-[30%];

			&:before {
				@apply absolute;
				@apply -bottom-[14px] -left-[20px];
				@apply w-[60px];
				@apply text-primary text-[36px] font-bold;
				content: '+';
			}
		}

		.number {
			@apply absolute;
			@apply -bottom-[14px] left-0;
			@apply text-[36px] font-bold;
		}

		.text {
			@apply mt-10 mt-auto ml-2;
			@apply text-primary text-[12px] normal-case italic;
		}

		.btn-contact {
			@apply mx-auto;
			@apply flex max-w-[420px] text-center;
			@apply rounded-full;
			@apply text-primary-light border-primary-light;
		}
	}
</style>

<section class="hero-section relative container py-20">
	<h1 class="mx-auto max-w-[450px] text-7xl font-bold">reliable software squad</h1>
	<div class="description">
		Jaya is a fully remote software consulting company, founded in 2012 and partnering with U.S.
		companies since 2016. We specialize in strategic staff augmentation and long-term, high-impact
		projects, combining technical and cultural fit through a deep recruitment process. Behind every
		delivery, we mentor our teams, nurture strong culture, and develop people who are inspired to
		build software that truly matters.
	</div>
	<Image src={heroLeftImg} alt="Hero Image" class="left-image" />
	<Image src={heroRightImg} alt="Hero Image" class="right-image" />
	<div class="big-number-section">
		{
			bigNumbers.map((item) => (
				<div class="big-number">
					<div class="content">
						<div class="number-container">
							<div class="number">{item.number}</div>
						</div>
						<div class="text">
							{item.text.bold === 'first' ? (
								<>
									<strong>{item.text.first}</strong>
									<br />
									{item.text.second}
								</>
							) : (
								<>
									{item.text.first}
									<br />
									<strong>{item.text.second}</strong>
								</>
							)}
						</div>
					</div>
				</div>
			))
		}
	</div>

	<a href="/contact" class="btn btn-outline btn-contact rounded-full">
		Let's transform your business? Contact Us
	</a>
</section>
