---
import Layout from '@/layouts/Layout.astro'

// 404 page content
const pageContent = {
	title: 'Page not found',
	description: 'The page you are looking for does not exist',
	heading: 'Page not found',
	message: 'The page you are looking for does not exist',
	backLink: 'Back to home'
}
---

<Layout title={pageContent.title} description={pageContent.description}>
	<main>
		<section class="flex lg:min-h-[92svh]">
			<div class="container flex flex-col items-center justify-center gap-6 py-20 md:py-40">
				<p class="font-heading text-6xl font-bold">404</p>
				<h1 class="font-heading text-4xl font-medium">
					{pageContent.heading}
				</h1>
				<p class="mt-4 text-center">{pageContent.message}</p>
				<a href="/">{pageContent.backLink}</a>
			</div>
		</section>
	</main>
</Layout>
